body {
  background-color: #f4f4f4;
  font-family: "Montserrat", sans-serif;
}
#container {
  border: 1px solid rgba(111, 106, 106, 0.2);
  width: 1082px;
  margin: auto;
}
/*---header*/
header img {
  height: auto;
  width: 100%;
}
/*--- nav ---- */
nav {
  background-color: #e9eaed;
  padding: 10px 10px;
  margin-top: -5px;
  border-bottom: 1px solid rgba(111, 106, 106, 0.2);
}
nav ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-around;
}
nav li {
  border-radius: 5px;
  background-color: #fd5f00;
  padding: 10px 10px;
  width: 70px;
  text-align: center;
  margin: 0 90px 0 50px;
}
/*--- Corps ---- */
h1 {
  text-align: center;
  text-transform: uppercase;
  margin: 50px 20px 0 20px;
  font-weight: bolder;
}
h2 {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 900;
}

.majuscule {
  font-size: 1.4em;
  font-weight: bolder;
}

main {
  display: flex;
}
/*--- article ---- */
article {
  background-color: white;
  padding: 10px;
  flex: 3;
}
article p {
  text-align: justify;
  font-size: 0.85em;
}

/*--- aside ---- */

aside {
  background-color: #e9eaed;
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid rgba(111, 106, 106, 0.2);
}

aside ul {
  display: inline;
  list-style: none;
  font-size: 0.9em;
}

aside li {
  border-bottom: 1px solid rgba(111, 106, 106, 0.5);
  padding-bottom: 10px;
  padding-top: 10px;
}

/*--- footer---- */

footer {
  background-color: #e9eaed;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid rgba(111, 106, 106, 0.2);
}

.foot ul {
  list-style: none;
  font-size: 0.9em;
  padding-top: 20px;
}

.foot li {
  text-align: center;
  margin: 0px 150px 0 90px;
  padding: 10px 10px;
}

/*--- link ---- */

nav ul li a:link {
  color: white;
  text-decoration: none;
}

nav ul li a:visited {
  color: white;
}

nav ul li a:hover {
  color: white;
}

nav ul a:active {
  color: white;
}

aside li a:link {
  color: #fd5f00;
  text-decoration: none;
}

aside li a:visited {
  color: #fd5f00;
}

aside ul li:hover {
  background-color: white;
}

aside ul li a:active {
  color: #fd5f00;
}

footer ul li a:link {
  color: #fd5f00;
  text-decoration: none;
}

footer ul li a:visited {
  color: #fd5f00;
}

footer li a:hover {
  color: #fd5f00;
}

/*responsive*/

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */
  #container {
    width: 100%;
    margin: auto;
  }
  header {
    width: 100%;
  }
  nav ul {
    font-size: 0.7em;
  }
  nav li {
    padding: 5px 5px;
    width: 55px;
    margin: 0 40px 0 0;
  }
  main {
    display: block;
  }
  article {
    width: auto;
  }
  article p {
    font-size: 0.9em;
  }
  aside {
    border-left: 0px;
    border-top: 1px solid rgba(111, 106, 106, 0.2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  aside div {
    margin: 20px 10px 20px 20px;
  }
  aside ul {
    font-size: 0.8em;
  }
  aside li {
    padding: 10px 20px 10px 20px;
  }
  footer {
    background-color: #e9eaed;
    padding-bottom: 20px;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    border: 0px solid rgba(111, 106, 106, 0.2);
  }
  .foot li {
    text-align: center;
    margin: 0 120px 0 0;
  }
}
/* ##Device = Most of the Smartphones Mobiles (Portrait)
       ##Screen = B/w 320px to 479px*/
@media (min-width: 320px) and (max-width: 480px) {
  /* CSS */
  #container {
    width: 100%;
    margin: auto;
  }
  header {
    width: 100%;
  }
  nav ul {
    font-size: 0.9em;
  }
  nav li {
    padding: 5px 5px;
    width: 55px;
    margin: 10px 40px 0 0;
  }
  main {
    display: block;
  }
  article {
    width: auto;
  }
  article p {
    font-size: 0.8em;
  }
  aside {
    border-left: 0px;
    border-top: 1px solid rgba(111, 106, 106, 0.2);
  }
  footer {
    border: 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .foot li {
    text-align: center;
    margin: 0 110px 0 30px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  /* CSS */

  #container {
    width: 100%;
    margin: auto;
  }
  header {
    width: 100%;
  }
  nav ul {
    font-size: 0.9em;
  }
  nav li {
    padding: 5px 5px;
    width: 55px;
    margin: 10px 40px 0 0;
  }
  main {
    display: block;
  }
  article {
    width: auto;
  }
  article p {
    font-size: 0.8em;
  }
  aside {
    border-left: 0px;
    border-top: 1px solid rgba(111, 106, 106, 0.2);
  }
  footer {
    border: 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  }
}
